<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

    <form action="#" th:action="@{/document}"  name="document-body" method="post" enctype="multipart/form-data">
        <div>
             <p>title</p>
             <input type="text" name="title" th:field="${document.title}">
        </div>
        <div>
            <p>text</p>
            <textarea name ="text" th:field="${document.text}"></textarea>
        </div>
        <div>
            <input type="file" th:field="${attached.imgList}" multiple="multiple">
        </div>
        <div>
            <input type="submit" name="ok" content="Отправить">
        </div>
    </form>
</body>
</html>